body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 160rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.day{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    background-color: #F08080;
    width: 10rem;
    height: 3rem;
    display: flex;
    position: absolute;
    top: 6rem;
    
    font-weight: 700;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.day1{
    top:2rem;
}
.map-grid{

    position: absolute;
    display: grid;
    top: 10rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    row-gap: 5rem;
    column-gap: 6rem; 
    align-items: center;
    padding:20px;   

}
.loc{
    clip-path: circle(50% at 50% 50%);
    width: 14rem;
    height: 14rem;
    background-color: #F08080;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}

.murudeshwar{
    background-image: url("res/murudeshwar.jpg");
    background-size: cover;
}
    
.airbnb{
    background-image: url("res/airbnb.jpg");
    background-size: cover;
   
}

.vivu-thi{
    background-image: url("res/vibhooti-falls.jpg");
    background-size: cover;

}
.yana-cave{
    background-image: url("res/honavar.png");
    background-size: cover;
}
.line-bottom {
    position: absolute;
    top: 27rem;
    left: 14rem;
    width: 20rem;
    height:6rem;
    z-index: -1;
    background: transparent;
    border: none;
    border-bottom: dashed 3px orange;
    padding: 40px 40px;
    border-radius: 0 0 50% 50%;
    margin: 0 -65px;
    transform: rotate(40deg);
}

.line1{
    top: 59rem;
    left: 15rem;
    transform: rotate(130deg);
}
.line2{
    top: 80rem;
    left:15rem;
    transform: rotate(40deg);

}
.line3{
    top: 111rem;
    left: 13rem;
    transform: rotate(130deg);
}
.list{
    text-align: left;

}

.details{
    border: solid 2px #000000;
    border-radius: 10px;
    height: 19rem;
    text-align: center;
    padding: 1rem;
}

.fade-in{
    
    animation-name: fadeIn;
    animation-duration: 2s;

    animation-fill-mode: forwards;
    animation-timing-function: linear;
    


}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}